@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body{
   background-color: hsl(0, 100%, 93%);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container{
    width: 40%;
    height: 650px;
}

.container-header{
    width: 100%;
    height: 120px;
    background-color: hsl(10, 79%, 65%);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: #f0ebeb;
}

.container-header-small-title{
    padding-bottom: 8px;
}

.container-body{
    width: 100%;
    height: 500px;
    background-color: hsl(0, 29%, 95%);
    border-radius: 2rem;
    margin-top: 1.6rem;
}

.container-body-header{
   padding: 30px;
}

.container-top-chart{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.container-top-chart-element{
    width: 9%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container-top-chart-element-form{
    border-radius: 5px;
}

.box1{
    width: 100%;
    height: 100px;
    background-color: hsl(10, 79%, 65%);
}

.box2{
    width: 100%;
    height: 200px;
    background-color: hsl(10, 79%, 65%);
}

.box3{
    width: 100%;
    height: 230px;
    background-color: hsl(186, 34%, 60%)
}

.box4{
    width: 100%;
    height: 140px;
    background-color: hsl(10, 79%, 65%);
}

.box5{
    width: 100%;
    height: 115px;
    background-color: hsl(10, 79%, 65%);
}

.box6{
    width: 100%;
    height: 200px;
    background-color: hsl(10, 79%, 65%);
}

.box7{
    width: 100%;
    height: 123px;
    background-color: hsl(10, 79%, 65%);
}

.container-top-chart-element-subtitle{
    text-align: center;
    color: #6b6b6b;
}

.bar{
    display: flex;
    justify-content: center;
}

.bar-form{
    width: 90%;
    height: 1px;
    background-color: #6b6b6b;
    margin-top: 10px;
    opacity: 0.5;
}

.container-bottom{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 1rem;
    padding: 0 30px;
}

.container-bottom-left-big-title{
    font-size: 2rem;
    font-weight: bold;
}

.container-bottom-left-big-title{
    padding-top: 3rem;
    
}

.container-bottom-rigth-title{
    display: flex;
    flex-direction: column;
}

.container-bottom-rigth-big-title{
    position: relative;
    left: 50px;    

}

.small-title-color{
    color: #6b6b6b;
}